Repository cube-js/arrow-rs, pull requests merged in 2023-09, with the labels that each got.

#21 feat: Int96 and Decimal96 support
  .github/workflows/miri.yaml
  .github/workflows/rust.yml
  arrow/src/array/array.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/merge.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/writer.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/native.rs
  arrow/src/datatypes/numeric.rs
  arrow/src/datatypes/types.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/reader.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/converter.rs
  parquet/src/arrow/levels.rs
  parquet/src/arrow/schema.rs
  parquet/src/data_type.rs
  parquet/src/schema/types.rs
Labels: arrow, parquet

#23 fix: Missing `from_i64` method for int64
  arrow/src/datatypes/native.rs
Labels: arrow

#24 feat: Update zstd requirement from 0.9 to 0.12
  parquet/Cargo.toml
Labels: parquet

#22 fix: Escape regex symbols in like operator
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#25 fix: Escape regex symbols in all versions of like operator
  arrow/src/compute/kernels/comparison.rs
Labels: arrow
